/* Admin-op */
.inputForm {
	line-height:20px !important;
	margin:0px 10px 5px 15px;
}
.labelForm{
	width:100%;
}

.op_listMenu{
	list-style:none;
	max-width:900px;
	width:100%;
	border: 1px solid #eaedf1;
	/*height:40px;*/
	font-size:15px;
	font-family:Open-sans;
	margin-top:10px;
	background:white;
}

.op_blank{
	float:left;
	width:100%;
	margin-top:10px;
}

.op_inputMenu{
	border: 1px solid #eaedf1;
	height:30px;
	font-size:15px;
	font-family:Open-sans;
	margin-top:10px;
	text-align:right;
	float:left;
}

.op_textMenu{
	padding:5px 15px;
	margin:0;
	line-height:20px;
	font-size:15px;
	color:#9ea7b3;
	font-family:Open-sans;
	font-weight:normal;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.op_btnMenu{
	background:white;
	border:1px solid #eaedf1;
	border-bottom: #14b9d6 5px solid;
	padding:5px 10px;
	border-left: 1px solid #eaedf1;
	display:block;
	height:39px;
}

button{
	background:white;
	border:1px solid #eaedf1;
	float:inherit;
	padding:5px 10px;
	border-left: 1px solid #eaedf1;
	display:block;
	height:39px;
}

button:hover{
	border-bottom: #14b9d6 5px solid;
}

.op_textAdmin{
	font-size:20px;
	color:#9ea7b3;
	font-family:Open-sans;
}

.ui-widget-overlay{
	position:fixed !important;
	background: #aaaaaa !important;
	
}

/* single-op */
.opHeader {
	position:fixed;
	display:inline;
	top:0;
	text-align:center;
	width:100%;
	/*background-color:rgb(206, 224, 233);*/
	padding:10px 0 10px 0;
	margin: 0;
	z-index:9999;
	height:56px;
	left:0;
}
.opHeaderTitle {
	color: #5e6d81;
	font-family: Open Sans;
	font-weight: bold;
	font-size: 24px;
	margin-top: 5px;
	padding: 0 60px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	left:0;
}

/*path{
	fill:#5e6d81;
}*/

.opHeaderMenu{
	position:fixed;
	display:inline;
	top:0;
	text-align:right;
	width:100%;
	background:none;
	padding:14px 0 14px 0;
	margin: 0;
	z-index:9999;
	margin:auto;
	max-width:1100px;
	left:0;
	right:0;
}
.opIPMenu{
	margin-right:15px;
	border:none;
	background:none;
	width:28px;
	height:28px;
	outline:none;
	padding:0;
	float:right;
}
.opIPMenu:hover{
	border-bottom:none;
}
.opITMenu{
	margin-right:15px;
	border:none;
	background:none;
	width:28px;
	height:28px;
	outline:none;
}
.opICMenu{
	position:absolute;
	right:0;
	margin:0;
	border:none;
	background:none;
	width:34px;
	height:34px;
	outline:none;
}
.opOverlay{
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.3;
	z-index:9998;
	position:fixed;
	margin:0;
	padding:0;
	background-color:rgba(0, 0, 0, 0.5);
	display:none;
}
.sidebar-btn {
	top:10px !important;
	left:20px !important;
	width:36px !important;
	height:36px !important;
	color: #fff !important;
	font-size:20px !important;
	line-height:38px !important;
	background-color: #5e6d81 !important;
	
}
.sidebar-btn:hover {
	background-color: #5e6d81 !important;
	color: #fff !important;
}

/* Tabs */
.opTabsContent {
	color:#5e6d81 !important;
}
.opTabsTitle{
	border-top:2px solid white;
	border-bottom:2px solid white;
	margin:25px 0 0 0;
	padding:5px 22px;
	position:relative;
	left:-22px;
	width:345px;
	font-size:18px;
	color:#5e6d81;
}
.opTabsList{
	margin-top:10px;
	padding:0;
	list-style:none;
}
.opTabsList li{
	margin-top:4px;
}
li.ui-tabs-active{
	margin:0;
	padding:0;
	border:none;
	border-bottom: #14b9d6 5px solid !important;
	border-right: 1px solid #eaedf1 !important;
	height: 34px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor{
	color: #14b9d6;
}
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited{
	color: #14b9d6;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	color: #14b9d6;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	color:#5e6d81;
}
.ui-widget-content {
	background:none;
	background-color:#eaedf1;
}
.ui-widget-header .ui-state-hover .ui-widget-content .ui-state-hover .ui-widget-header .ui-state-hover .ui-state-focus .ui-widget-content .ui-state-focus .ui-widget-header .ui-state-focus {
	background:none;
	background-color:#fff;
}
.ui-tabs .ui-tabs-nav {
	margin:0;
	padding:0;
}
.ui-widget-header {
	border:none;
	background:none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	border:none;
	background:none;
	background-color:#fff;
	margin:0;
	padding:0;
	border-right: 1px solid #eaedf1;
}

/* Progress */
.opProgressCanvas {
	width:100%;
	padding-top:0px;
	float: left;
	text-align:center;
	height:40px;
	position:absolute;
	z-index:9990;
	/*background-color:#fff;*/
	max-width:1100px;
	margin: 0 auto;
	left:0;
	right:0;
}

.opProgressBar {
    width: 0%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    background-color: #1fbba6; 
    border-radius: 6px;  
    transition: width 400ms ease;
}

.opProgress {
   width: 100%;  
   border: 0 none;  
   background: #eaedf1;  
   border-radius: 6px;  
   height:30px;
   box-shadow: none;
}
.opProgress::-moz-progress-bar {  
   background: #1fbba6;  
   border-radius: 6px;  
}  
.opProgress::-webkit-progress-bar {  
   background: transparent;  
}  
.opProgress::-webkit-progress-value {    
   background: #1fbba6;  
   border-radius: 6px;  
}
.opProgressText {
	position:relative;
	top:-28px;
	font-size:22px;
	color:#5e6d81;
	font-weight:bold;
	font-family: Open Sans;
	text-align:center;
	text-transform: lowercase;
}
.opProgressTempsDebut{
	position:relative;
	top:-28px;
	font-size:22px;
	color:#5e6d81;
	font-weight:bold;
	left:2%;
	font-family: Open Sans;
	float:left;
	text-transform: lowercase;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	width:100px;
}
.opProgressTempsFin{
	position:relative;
	top:-28px;
	font-size:22px;
	color:#5e6d81;
	font-weight:bold;
	right:2%;
	font-family: Open Sans;
	float:right;
	text-transform: lowercase;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	width:100px;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }



.cellTache {
	float:left;
	width:15%;
	border:1px inset #B3B3B3;
	background-color:#F1F1F1;
}
.proN2 {  
   width: 80px;  
   border: 0 none;  
   background: #fff;  
   border-radius: 8px;  
}
.proN2::-moz-progress-bar {  
   background: #999;  
   border-radius: 8px;  
}  

progress {
   width: 100px;  
   border: 0 none;  
   background: #fff;  
   border-radius: 4px;  
   box-shadow: none;
}
.progressGantt {
	border-radius: 0px;
	height:14px;
}
progress::-moz-progress-bar {  
   border-radius: 4px;  
}
.progressBara {
	height:15px;
	box-shadow:none;
	border-radius:4px;
	width:45px;
	margin-left:5px;
	margin-top:4px;
	background-color: #eaedf1;
	color: #1fbba6;
}
.progressBarb {
	height:15px;
	box-shadow:none;
	border-radius:4px;
	width:45px;
	margin-left:5px;
	margin-top:4px;
	background-color: #eaedf1;
	color: #1fbba6;
}
.progressBarc {
	height:15px;
	box-shadow:none;
	border-radius:4px;
	width:45px;
	margin-left:5px;
	margin-top:4px;
	background-color: #eaedf1;
	color: #FF8964;
}
.progressBarz {
	height:15px;
	box-shadow:none;
	border-radius:4px;
	width:45px;
	margin-left:5px;
	margin-top:4px;
	background-color: #eaedf1;
	color: #9ea7b3;
}
.progressBara::-moz-progress-bar {  
   background: #1fbba6;
   border-radius: 4px;
}
.progressBarb::-moz-progress-bar {  
   background: #1fbba6;
   border-radius: 4px;
}
.progressBarc::-moz-progress-bar {  
   background: #FF8964;
   border-radius: 4px;
}
.progressBarz::-moz-progress-bar {  
   background: #9ea7b3;
   border-radius: 4px;
}

progress::-webkit-progress-bar {  
   background: transparent;  
}  
progress::-webkit-progress-value {    
   border-radius: 4px;
}
.progressBara::-webkit-progress-value {    
   background: #1fbba6;
}
.progressBarb::-webkit-progress-value {    
   background: #1fbba6;
}
.progressBarc::-webkit-progress-value {    
   background: #FF8964;
}
.progressBarz::-webkit-progress-value {    
   background: #9ea7b3;
}


/*
.qbutton{
	position:relative;
	display:inline-block;
	width:auto;
	height:35px;
	line-height:35px;
	margin:0;padding:0 16px;
	font-size:13px;font-weight:400;text-align:left;color:#fff;font-family:inherit;
	text-decoration:none;cursor:pointer;white-space:nowrap;outline:0;font-style:normal;
	-o-border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;-ms-border-radius:4px;
	border-radius:4px;
	text-shadow:none;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4);-ms-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4);-o-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.4);
	border:1px solid #049cd4;
	background:#009ad4;background:#00aeef -ms-linear-gradient(bottom,#009ad4 0,#00aeef 100%);
	background:#00aeef -moz-linear-gradient(bottom,#009ad4 0,#00aeef 100%);
	background:#00aeef -o-linear-gradient(bottom,#009ad4 0,#00aeef 100%);
	background:#00aeef -webkit-gradient(linear,left bottom,left top,color-stop(0,#009ad4),color-stop(1,#00aeef));
	background:#00aeef -webkit-linear-gradient(bottom,#009ad4 0,#00aeef 100%);
	background:#00aeef linear-gradient(to top,#009ad4 0,#00aeef 100%)
}

.panel{
  position: relative;
  background: #fff;
  width: 300px;
  margin: 40px auto;
  text-align: center;
  @include border-radius(4px);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
}*/
.chart {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 110px;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0px;
  left: 0;
  right:0;
  margin:0 auto;
  z-index:-1;
}

.chartN2 {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 90px;
  margin-top: 40px;
  margin-bottom: 25px;
  text-align: center;
}
.chartN2 canvas {
  position: absolute;
  top: 0px;
  left: 0;
  right:0;
  margin:0 auto;
  z-index:-1;
}
.percentB {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
  padding-left:10px;
  padding-top:0px;
  font-size: 25px;
  font-family:open sans;
  font-weight: normal;
  color:#fff;
}
.percentBN2 {
  display: inline-block;
  line-height: 90px;
  z-index: 2;
  padding-left:10px;
  padding-top:0px;
  font-size: 22px;
  font-family:open sans;
  font-weight: normal;
  color:#fff;
}
.percentColora {
	color: #75C785;
}
.percentColorb {
	color: #FFB96E;
}
.percentColorc {
	color: #F55B5B;
}
.percentColorz {
	color: #6D6D6D;
}

.tache{
	font-weight: normal;
	font-size: 20px;
	position:relative;
	color:#5e6d81;
}
.tacheN2{
	font-weight: bold;
	font-size: 15px;
	top: -5px;
}

.percentB:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
.percentBN2:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
.angular {
  margin-top: 100px;
}
.angular .chart {
  margin-top: 0;
}
.easyPieChart {
  position: relative;
  text-align: center;
  canvas {
    position: relative;
    top: -136px;
    left: 0;
	right:0;
	margin:0 auto;
  }
}
.percentage, .label {
    margin-bottom: 0.5em;
    text-align: center;
    font-weight: 100;
}
.percentage{
  font-size: 17px;
}